.homepage-container {
    
    height: 60vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-image: url('https://images.unsplash.com/photo-1611577810610-642f8ac05c32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.homepage-container .search-box{
    padding-top: 22%;
}
