.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-container img{
    background-color: transparent;
    margin-top: 150px;
    width: 60px;
    height: 60px;
}
.spinner-container h2{
    text-align: center;
    margin-top: 150px;
    color: #5acba1;
}